<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
        integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous" />

</head>


<body>
    <span class="screen-darken"></span>
    <header>
        <div>
            <a class="navbar-brand blueBoxBg d-lg-none" href="#"><img src="../assets/img/kotakbiru.svg" alt="" style="margin: 20px 0px 0px 20px;"></a>
            <button data-trigger="navbar_main" class="d-lg-none btn float-end" type="button" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="margin: 5px 20px 20px 0px;">
                <!-- <span class="navbar-toggler-icon"></span>
                <i class="fa-regular fa-layer-group"></i> -->
                <img src="../assets/img/burgerIcon.png" alt="" srcset="" height="50px">
            </button>
            <nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand blueBoxBg
                    " href="#"><img src="../assets/img/kotakbiru.svg" alt="" style="margin: 10px 0px 0px 10px;"></a>
                    <div class="offcanvas-header">  
                        <button class="btn-close float-end"></button>
                     </div>

                     <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup"> -->
                        <div class="navbar-nav">
                             <a class="nav-item nav-link active mx-2" href="#ourServiceSection">Our Service</a>
                             <a class="nav-item nav-link active mx-2" href="#whyUsSection">Why Us</a>
                             <a class="nav-item nav-link active mx-2" href="#testimonial">Testimonial</a>
                             <a class="nav-item nav-link active mx-2" href="#faq">FAQ</a>
                             <button type="button" class="btn btn-success">Register</button>
                        </div>
                    <!-- </div> -->
                </div>
            </nav>
        </div>
    </header>

    <section id="homepageSection">
        <div class="container d-flex">
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-md-1 g-lg-2">
                <div class="col my-5">
                    <h4 class="my-5 fw-bold">Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)</h4>
                    <p>Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga
                        terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.</p>
                    <button type="button" class="btn btn-success btn-lg">Mulai sewa mobil</button>
                </div>
                <div class="col my-5">
                    <img class="img-fluid car" src="../assets/img/Mercedes Car EQC 300kW Edition - 900x598 1.png" alt="Car" />
                </div>
            </div>
        </div>
        <div class="stand bg-primary"></div>

    </section>

    <section id="ourServiceSection">
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="../assets/img/row 2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3>Best Car Rental for any kind of trip in (Lokasimu)!</h3>
                        <p>Sewa mobil di (Lokasimu) bersama Binar Car Rental jaminan harga lebih murah dibandingkan yang
                            lain, kondisi mobil baru, serta kualitas pelayanan terbaik untuk perjalanan wisata, bisnis,
                            wedding, meeting, dll.</p>
                        <ul class="list-group list1">
                            <li class="list-group-item list1">
                                <span class="icon "><img src="../assets/img/centang.png" /></span>
                                Sewa Mobil Dengan Supir di Bali 12 Jam
                            </li>
                            <li class="list-group-item list1">
                                <span class="icon "><img src="../assets/img/centang.png" /></span>
                                Sewa Mobil Lepas Kunci di Bali 24 Jam
                            </li>
                            <li class="list-group-item list1">
                                <span class="icon"><img src="../assets/img/centang.png" /></span>
                                Sewa Mobil Jangka Panjang Bulanan
                            </li>
                            <li class="list-group-item list1">
                                <span class="icon"><img src="../assets/img/centang.png" /></span>
                                Gratis Antar - Jemput Mobil di Bandara
                            </li>
                            <li class="list-group-item list1">
                                <span class="icon"><img src="../assets/img/centang.png" /></span>
                                Layanan Airport Transfer / Drop In Out
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="whyUsSection">
        <div class="container">
            <h2>Why Us?</h2>
            <p>Mengapa harus pilih Binar Car Rental?</p>
            <div class="row">
                <!-- item 1 -->
                <div class="col-md-4 col-xl-3">
                    <div class="card  order-card">
                        <div class="card-block">
                            <img src="../assets/img/icon_complete.svg" class="icon">
                            <h6 class="fw-bold mt-3">Mobil Lengkap</h6>
                            <p class="m-b-0">
                                Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan
                                terawat
                            </p>
                        </div>
                    </div>
                </div>
                <!-- item2 -->
                <div class="col-md-4 col-xl-3">
                    <div class="card order-card">
                        <div class="card-block">
                            <img src="../assets/img/icon_price.svg" class="icon">
                            <h6 class="fw-bold mt-3">Mobil Lengkap</h6>
                            <p class="m-b-0">
                                Harga murah dan bersaing, bisa bandingkan harga kami dengan
                                rental mobil lain
                            </p>
                        </div>
                    </div>
                </div>
                <!-- item3 -->
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <img src="../assets/img/icon_24hrs.svg" class="icon">
                            <h6 class="fw-bold mt-3">Layanan 24 Jam</h6>
                            <p class="m-b-0">
                                Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga
                                tersedia di akhir minggu
                            </p>
                        </div>
                    </div>
                </div>
                <!-- item4 -->
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block">
                            <img src="../assets/img/icon_professional.svg" class="icon">
                            <h6 class="fw-bold mt-3">Sopir Profesional</h6>
                            <p class="m-b-0">
                                Sopir yang profesional, berpengalaman, jujur, ramah dan selalu
                                tepat waktu
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end item -->
            </div>
        </div>
    </section>
    <section id="testimonial" class="py-5">
        <div class="container pt-5">
            <h2 class="h2 text-center">Testimonial</h2>
            <p class="text-center py-3">Berbagai review positif dari para pelanggan kami</p>
            <div id="carouselExampleControls" class="carousel slide mx-auto" style="max-width: 60%;"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active bg-aliceblue card">
                        <div class="row mx-4 my-5">
                            <div class="col-xl-2 m-auto">
                                <img src="../assets/img/img_photo2.svg" class="d-block testimonial-img m-auto" alt="Person">
                            </div>
                            <div class="col-xl-10">
                                <div class="__fiveStars">
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                </div>
                                <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aliquid dolore, in ex
                                    natus officiis iusto eius quia, tenetur tempore ipsam. Dignissimos quo incidunt fuga
                                    accusamus, quasi veritatis facere architecto.”</p>
                                <p class="testimonial-title">WAHYUDI Dee 32, Bromo</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item bg-aliceblue card">
                        <div class="row mx-4 my-5">
                            <div class="col-xl-2 m-auto">
                                <img src="../assets/img/img_photo1.png" class="d-block testimonial-img m-auto" alt="Person">
                            </div>
                            <div class="col-xl-10">
                                <div class="__fiveStars">
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                </div>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum
                                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit, sed do eiusmod””</p>
                                <p class="testimonial-title">Wawan Dee 32, Bromo</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item bg-aliceblue card">
                        <div class="row mx-4 my-5">
                            <div class="col-xl-2 m-auto">
                                <img src="../assets/img/img_photo2.svg" class="d-block testimonial-img m-auto" alt="Person">
                            </div>
                            <div class="col-xl-10">
                                <div class="__fiveStars">
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                </div>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum
                                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit, sed do eiusmod””</p>
                                <p class="testimonial-title">Rendra Dee 32, Bromo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
                <div class="text-center">
                    <a type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"
                        class="testimonial-tombol">&#8249;</a>
                    <a type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"
                        class="testimonial-tombol">&#8250;</a>
                </div>
            </div>
        </div>
    </section>
    <section id="blueBoxBg">
        <div class="container-fluid">
            <div class="container text-center p-5 blueRow">
                <center>
                    <div class="row">
                        <h3>Sewa Mobil di (Lokasimu) Sekarang</h3>
                    </div>
                    <div class="row py-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore
                            et dolore magna aliqua. </p>
                    </div>
                    <a href="#" type="button" class="btn btn-success btn-lg btnSmall">Mulai Sewa Mobil</a>
                </center>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container my-5">
            <div class="row row row-cols-1 row-cols-md-1 row-cols-lg-2 g-md-1 g-lg-2">
                <div class="col py-5">
                    <h2>Frequently Asked Question</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et aut
                        labore ab!
                    </p>
                </div>
                <div class="col my-5">
                    <div class="accordion" id="accordionExample">
                        <!-- item1 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Apa saja syarat yang dibutuhkan?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Minus illum unde esse neque nam reprehenderit tenetur a.
                                    Voluptas, et saepe ea quae provident quis maxime animi illo
                                    non iure a!
                                </div>
                            </div>
                        </div>
                        <!-- end item1 -->

                        <!-- item2 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Berapa hari minimal sewa mobil lepas kunci?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Nisi aliquid dolore, in ex natus officiis iusto eius quia,
                                    tenetur tempore ipsam. Dignissimos quo incidunt fuga
                                    accusamus, quasi veritatis facere architecto.
                                </div>
                            </div>
                        </div>
                        <!-- end item2 -->

                        <!-- item3 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Berapa hari sebelumnya sabaiknya booking sewa mobil?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Deleniti sint voluptas illo quaerat et esse voluptatum
                                    porro, nobis a quas dolorem minus aut corporis est dolor
                                    veniam! Placeat, commodi sint.
                                </div>
                            </div>
                        </div>
                        <!-- end item3 -->

                        <!-- item4 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Apakah Ada biaya antar-jemput?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    Deleniti sint voluptas illo quaerat et esse voluptatum
                                    porro, nobis a quas dolorem minus aut corporis est dolor
                                    veniam! Placeat, commodi sint.
                                </div>
                            </div>
                        </div>
                        <!-- end item4 -->

                        <!-- item5 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Bagaimana jika terjadi kecelakaan
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Corporis possimus aspernatur magnam inventore error,
                                    repellat ea deleniti, voluptates porro ipsam maiores
                                    dolorum. Tempore fugiat incidunt enim quod ducimus commodi
                                    debitis.
                                </div>
                            </div>
                        </div>
                        <!-- end item5 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <footer>
            <div class="container my-3">
                <div class="row">
                    <div class="col-xl-5 col-md-6 col-sm-12">
                        <ul class="list-unstyled">
                            <li>
                                <p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
                            </li>
                            <li>
                                <p>binarcarrental@gmail.com</p>
                            </li>
                            <li>
                                <p>081-233-334-808</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-12">
                        <ul class="list-unstyled">
                            <li>
                                <p>Our services</p>
                            </li>
                            <li>
                                <p>Why Us</p>
                            </li>
                            <li>
                                <p>Testimonial</p>
                            </li>
                            <li>
                                <p>FAQ</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <p>Contact Us :</p>
                        <section>
                            <a href="https://facebook.com"><img src="../assets/img/sosmed-facebook.png" alt="Facebook"></a>
                            <a href="https://www.instagram.com"><img src="../assets/img/sosmed-instagram.png"
                                    alt="Facebook"></a>
                            <a href="https://twitter.com"><img src="../assets/img/sosmed-twitter.png" alt="Facebook"></a>
                            <a href="https://web.whatsapp.com"><img src="../assets/img/sosmed-whatsapp.png" alt="Facebook"></a>
                        </section>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-12">
                        <p>Copyright Binar 2022</p>
                        <a class="navbar-brand blueBoxBg
            " href="#"><img src="../assets/img/blueBoxBg.svg" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/script.js">
    </script></body>

</html>